extends layout

block content 
    p Bienvenido al chat #{name}
    div(id="chatBox" style="overflow:scroll") Disfruta de tu estadia
    select(id="room")
            option(value="all") All 
    form(id="chat")
        input(type="text" id="msg")
        input(type="submit")

    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/chat.js')
    script(type='text/javascript', src="/js/jquery-3.6.0.min.js") 