extends layout.pug


block content

    - var test = [1,2,3];

    form(class="border border-primary" style="width:60%;padding:10px;margin:10px")
        h1.border-bottom Listado de Incidencias
        for num in test
            p= "Numero de incidencia: " + num 
            p= "Nombre:"
            p= "DNI:"
            p= "Tipo de Incidencia:"
            p= "Urgencia:"
            p= "Descripcion:"
            p.border-bottom
            br
         
        
    



          

