doctype doctype html
html
    head
        title Web Chat
        link(rel='stylesheet', href='/css/style.css')
        script(type='text/javascript' src='/js/jquery-3.6.0.min.js')
    body 
        block content
